<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id2"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="true"
            class="it.naturtalent.e4.perspectiveswitcher.E4PerspectiveSwitcherProcessor">
      </processor>
      <processor
            beforefragment="true"
            class="it.naturtalent.e4.perspectiveswitcher.CopyPerspectiveSnippetProcessor">
      </processor>
   </extension>

</plugin>
