<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="TargetRuntimeDefinition" sequenceNumber="218">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecp.e4.feature.feature.group" version="1.16.0.20180305-1637"/>
<unit id="org.eclipse.emf.ecp.e4.feature.source.feature.group" version="1.16.0.20180305-1637"/>
<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="1.16.0.20180305-1637"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.10.3.v20180207-1239"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.examples.release.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/nebula/releases/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.3.v20180301-1149"/>
<unit id="org.eclipse.sdk.ide" version="4.7.3.M20180301-0715"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
</location>
</locations>
</target>
